header {
  background-color: #ffcc00;
  padding: 20px;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#pokemon-details {
  width: 30%;
  padding: 20px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pokemon-details img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.detailed-pokemon {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
